env          = "ww9"
service_name = "niceservicename"
domain_name  = "niceservicename.jp"
subdomain_name = "admin9"
account_info = {
  id            = 1234567890
  region        = "ap-northeast-1"
  gh_org_url    = "https://github.com/orgnization_name"
  acm_name      = "niceservicenameACM"
}
ecs_info = {
  env     = "Staging"
  command = "composer install --no-dev && /usr/sbin/apache2ctl -D FOREGROUND"
}
network_info = {
  alb_arn = "arn:aws:elasticloadbalancing:ap-northeast-1:1234567890:loadbalancer/app/ww9-niceservicename-web/aaaaaaaaaaaaaaaa"
  vpc_id  = "vpc-1234567890aaaaaa"
  pub_ids = ["subnet-1234567890aaaaaa", "subnet-01234567890aaaaaa", "subnet-001234567890aaaaaa"]
  pri_ids = ["subnet-p1234567890aaaaaa", "subnet-0p1234567890aaaaaa", "subnet-00p1234567890aaaaaa"]
}